<div>
  <form class="form-inline md-form form-sm">
    <input [(ngModel)]="filterValue" name="filter" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search Movie by Name" aria-label="Search"
           mdbInput>
    <a [routerLink]="'/actors/find-movie-by-actor/'+filterValue">Search</a>
    <input [(ngModel)]="filterValueID" name="filter" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search by ID" aria-label="Search"
           mdbInput>
    <a [routerLink]="'/actors/'+filterValueID">Search</a>
  </form>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dataitem of ActorList">
      <td>
        {{dataitem.name}}
      </td>
    </tr>
    </tbody>
  </table>
  <h5>No further items were found</h5>
</div>
